#MyNavbar{
    font-size: 18px;
}

#Mar{
    background-color: blue;
    color: white;
    font-size: 16px;
}

img{
    width:auto;
    height: auto;
}

#contactus{
    width: 90%;
    margin-bottom: 1%;
}

html{
    scroll-behavior: smooth;
}

